<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.jboss.org/dtd/hibernate/hibernate-configuration-3.0.dtd"
>
<hibernate-configuration>

	<session-factory>

		<!-- 数据库主机 : 219.136.252.35; 最大连接数 : 20; 端口 : 3311; 数据库名称 : db4hitaxi; 
			帐号 :motofans; 密码: mf19870410; -->

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://219.136.252.35:3311/db4hitaxi</property>
		<property name="connection.username">motofans</property>
		<property name="connection.password">mf19870410</property>

		<!-- -->

		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>

		<mapping resource="net/worldscale/ee/app/hitaxi/db/tables/User.hbm.xml" />

	</session-factory>
</hibernate-configuration>
