<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hitaxi-server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CarStatus</display-name>
    <servlet-name>CarStatus</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.CarStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarStatus</servlet-name>
    <url-pattern>/CarStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCarDetail</display-name>
    <servlet-name>GetCarDetail</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.GetCarDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCarDetail</servlet-name>
    <url-pattern>/GetCarDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCarResult</display-name>
    <servlet-name>GetCarResult</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.GetCarResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCarResult</servlet-name>
    <url-pattern>/GetCarResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportPOS</display-name>
    <servlet-name>ReportPOS</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.ReportPOS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportPOS</servlet-name>
    <url-pattern>/cs/ReportPOS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserStatusByCS</display-name>
    <servlet-name>UserStatusByCS</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.UserStatusByCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStatusByCS</servlet-name>
    <url-pattern>/cs/UserStatusByCS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserStatusByHS</display-name>
    <servlet-name>UserStatusByHS</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.UserStatusByHS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStatusByHS</servlet-name>
    <url-pattern>/hs/UserStatusByHS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowDBInfo</display-name>
    <servlet-name>AdminShowDBInfo</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.admin.AdminShowDBInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MonitorServlet</display-name>
    <servlet-name>MonitorServlet</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.admin.MonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowDBInfo</servlet-name>
    <url-pattern>/AdminShowDBInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowRuntimeInfo</display-name>
    <servlet-name>AdminShowRuntimeInfo</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.admin.AdminShowRuntimeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowRuntimeInfo</servlet-name>
    <url-pattern>/admin/AdminShowRuntimeInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MonitorServlet</servlet-name>
    <url-pattern>/admin/monitor/MonitorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowLogInfo</display-name>
    <servlet-name>ShowLogInfo</servlet-name>
    <servlet-class>net.worldscale.ee.app.hitaxi.servlet.admin.ShowLogInfo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SetCarInfo</display-name>
  	<servlet-name>SetCarInfo</servlet-name>
  	<servlet-class>net.worldscale.ee.app.hitaxi.servlet.SetCarInfo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegNewUser1</display-name>
  	<servlet-name>RegNewUser1</servlet-name>
  	<servlet-class>net.worldscale.ee.app.hitaxi.v2.servlet.RegNewUser1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegNewUser2</display-name>
  	<servlet-name>RegNewUser2</servlet-name>
  	<servlet-class>net.worldscale.ee.app.hitaxi.v2.servlet.RegNewUser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLogInfo</servlet-name>
    <url-pattern>/admin/ShowLogInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetCarInfo</servlet-name>
  	<url-pattern>/cs/SetCarInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegNewUser1</servlet-name>
  	<url-pattern>/RegNewUser1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegNewUser2</servlet-name>
  	<url-pattern>/RegNewUser2</url-pattern>
  </servlet-mapping>
</web-app>